.slider-movies{
    height: 53vh;
    width: 100%;
}

.slider-movies__movie{
    height: 55vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-movies__movie-info{
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 50px;
}
            
.div-info{
    background-color: #8d8c8ccf;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    padding-bottom: 13px;
    color: black;
}

.boton{
    padding-bottom: 5px;
    color:rgb(212, 202, 202);
    border-radius: 70px;
}

.titulo{
    color: rgb(39, 39, 39);
}

.parrafo{
    padding-bottom: 10px;
    color: rgb(36, 36, 36);
}