.trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    margin: 2%;
  }

.tarjetasEstilos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.styledPopular{
  margin-bottom: 30px;
  margin: 2%;
}