.trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
  }

.tarjetasEstilos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}