.movie-list {
  width: 70%;
  margin: 0 auto !important;
  margin-top: 60px !important;
  border-color: rgb(65, 120, 122) !important;
}

.ant-list-header {
  background-color: rgb(45 41 51);
}

.ant-list-header h2 {
  text-align: center;
  margin: 0;
  color: white;
}

.ant-list-items {
  height: 60vh;
  overflow: scroll;
  background-color: rgb(176, 188, 189);
}

.ant-list-item-meta {
  align-items: center;
}

.ant.list.item-meta-title {
  margin: 0;
}

.boton-info {
  background-color: rgb(101, 97, 109);
}

.ant-row {
  padding-bottom: 90px;
}
