.media {
    display: flex;
    flex-direction: column;
    width: 210px;
    padding: 5px;
    margin: 5px 0;
    /* background-color: #282c34; */
    border-radius: 10px;
    position: relative;
    color: white;
    font-family: "Montserrat", sans-serif;
  }

  .media:hover {
    transform: scale(1.1);
    box-shadow: 5px 0px 3px rgba(0, 0, 0, 0.404);
  }
  
  .poster {
    border-radius: 10px;
    height: 303px;
    width: 200px;
  }
  
  .title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
  }
  
  .subTitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    padding: 0 66px;
    padding-bottom: 3px;
  }