
.header{
    width:96%;
    cursor:pointer;
    height: fit-content;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    text-transform: uppercase;
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 4%;
    font-size:3vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: white;
    z-index: 100;
    font-family: 'Open Sans Condensed', sans-serif;
}

.estilos-imagen{
    width: 80px;
    height:80px;
    margin-bottom: 8%;
    margin-top: 2%;
}


.title-Header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: cadetblue;
}

@media (max-width:1000px) {
    .header{
        padding: top 15px;
        font-size: 6.4vw;
    }
}