
.header{
    width:100%;
    cursor:pointer;
    height: fit-content;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    text-transform: uppercase;
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 4%;
    font-size:3vw;
    box-shadow: 0px 1px 5px black;
    color: rgb(39, 39, 39);
    z-index: 100;
    font-family: 'Open Sans Condensed', sans-serif;
}


.estilos-imagen{
    width: 200px;    
}


.title-Header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: rgb(181 176 176);
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}

.MuiBottomNavigationAction-label {
    font-size: 0.87rem !important;
}

@media (max-width:1000px) {
    .header{
        padding: top 15px;
        font-size: 6.4vw;
        width: 100%;
    }
}

@media (max-width:768px) {
    .estilos-imagen {
        width: 100px;
    }
}


@media (max-width:600px) {
    .MuiContiner-root {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding: 0px 15px 8px;
    }
}

@media (max-width:424px) {
    .title-Header {
        display: none;
    }

    .jss1{
        width: 94%!important;
    }

    .header{
        padding-left: 0px;
        width: 100% !important;
        display: flex;
        padding-right: 0px;
        justify-content: space-between;
    }

    .MuiBottomNavigationAction-root,
    .MuiBottomNavigationAction-label.Mui-selected{
        padding: -3px 32pxd 8px !important;
    }
}

@media ( max-width: 380px ){
    .header{
        justify-content: center;
    }
}

@media (min-width:425px) and (max-width: 767px){
    .MuiBottomNavigationAction-root{
        padding: 8px 33px 8px;
        min-width: 64px !important;
    }
  
    .title-Header{
        display: block;
    }
  }