
.header{
    width:100%;
    cursor:pointer;
    position: fixed;
    display: flex;
    justify-content:center;
    text-transform: uppercase;
    background: #780206;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Otomanopee One', sans-serif;
    font-size:5vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: white;
    z-index: 100;
}

@media (max-width:1000px) {
    .header{
        padding: top 15px;
        font-size: 6.4vw;
    }
}