.movie {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.movie__dark {
  position: absolute;
  top: 82;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.6;
}

.movie__poster {
  height: 60vh;
  margin-left: 200px;
  margin-right: -80px;
}

.movie__poster div {
  height: 100%;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0;
}

.row-movie {
  display: flex !important;
  height: 100% !important;
  align-items: center !important;
  width: 100%;
}

.ant-col-9 {
  max-width: 50%;
}

.movie__info {
  color: white;
  height: 75%;
}

.movie__info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70%;
}

.titulo-info-header {
  color: white;
  margin: 0;
  font-size: 2.5em;
}

.span-info-header {
  font-size: 20px;
  margin-left: 12px;
  opacity: 0.7;
}

.boton-trailer {
  height: 100%;
  background-color: rgb(216, 215, 215);
  color: black;
  border: 0;
  font-size: 16px;
  border-radius: 40px;
}

.boton-trailer:hover {
  color: rgb(34, 23, 66);
  outline: none;
  border: none;
  cursor: pointer;
}

.letras-info {
  color: rgb(170, 170, 170);
  font-weight: bold;
  font-size: 1em;
}

.movie__info-content {
  margin-top: 50px;
}

.parrafo-info {
  color: white;
}

@media (max-width: 480px) {
  .movie__poster div {
    margin-left: -40px;
  }

  .boton-trailer {
    font-size: 12px;
    padding: 3px 3px 3px;
  }

  .parrafo-info {
    font-size: 10px;
  }

  .movie__info-content {
    margin-left: -60px;
    width: 140%;
  }
  .movie__poster div {
    margin-left: -150px;
  }

  .titulo-info-header {
    font-size: 15px;
    padding-right: 5px;
    padding-top: 15px;
  }
  .span-info-header {
    font-size: 12px;
    padding-right: 5px;
    padding-top: 10px;
  }

  .letras-info {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .movie,
  .movie__dark {
    height: 160vh;
  }

  .movie__poster {
    margin-right: 50px;
  }

  .movie__poster div {
    width: 250px;
  }

  .movie__info-content {
    margin-left: -60px;
    width: 150%;
  }
  .movie__poster div {
    margin-left: -160px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .movie,
  .movie__dark {
    height: 150vh;
    width: 100%;
  }

  .movie__poster div {
    width: 200px;
  }

  .movie__info-content {
    margin-left: -60px;
    width: 100%;
  }
  .movie__poster div {
    margin-left: -130px;
  }

  .parrafo-info {
    font-size: 15px;
  }

  .letras-info {
    font-size: 23px;
  }
}
