.movie{
    height: 103vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.movie__dark{
    position: absolute;
    top: 0;
    left: 0;
    height: calc( 100vh + 130px );
    width: 100%;
    background-color: black;
    opacity: .6;
}

.row-movie{
    height: 100vh !important;
    display: flex !important;
    align-items: center !important;
    width: 100%;
}

.movie__poster{
    height: 60vh;
}

.movie__poster div{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.movie__info{
    color: white;
    height: 75%;
}

.movie__info-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-info-header{
    color: white;
    margin: 0;
    font-size: 2.5em;
    width: -webkit-fill-available;
}

.span-info-header{
    font-size: .5em;
    margin-left: 2%;
    opacity: .6;
}

.boton-trailer{
    height: 100%; 
    background-color: transparent;
    color: #ffffff;
    border: 0;
    font-size: 1.3em;
    border-radius: 40px;
}


.letras-info{
    color: rgb(170, 170, 170);;
    font-weight: bold;
    font-size: 1em ;
}



@media ( max-width: 1250px ){
  .row-movie{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .movie,
  .movie__poster{
    align-self: center;
    margin-left: 0;
    margin-right: 0;
  }

  .ant-col-9{
    max-width: 80%;
  }

  .movie__info-content{
    width: 75%;
  }

  .movie-info{
    width: 100%;
  }

  .buton-trailer{
    font-size: 25px;
    padding: 0;
  }

  .info{
    flex-direction: column;
    font-size: 25px;
  }

  .movie__info-content{
    margin-left: 10px;
    font-size: 25px;
  }


}

@media ( max-width: 750px ){
    .movie,
    .movie__poster{
        margin-right: 50px;
    }

    .movie__poster  div{
        width: 250px;
    }
}

@media ( max-width: 480px ){
    .movie,
    .movie__poster div{
        margin-left: -40px;
    }

    .button{
        font-size: 10px;
        padding: 0;
    }

    .parrafo-info{
        font-size: 10px;
    }
}

@media ( max-width: 420px ){
    .movie,
    .movie__poster div{
        margin-left: -40px;
    }
}

@media ( max-width: 380px ){
  .movie-info{
    width: 100%;
  }
}