* {
  scroll-behavior: smooth;
  /* color: rgb(221, 211, 211); */
}

.app {
  min-height: 100vh;
  background-color: #39445a; 
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
}



.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }

  .header{
    width: fit-content!important;
  }
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  margin: 3%;
}

@media (max-width: 700px) {
  body{
    background-color: darkred!important;
  }

  html{
    max-width: 108%;
    background: darkred;
  }

  .MuiBottomNavigationAction-label{
    display: none;
  }
  .MuiBottomNavigationAction-wrapper{
    margin-top: 40%;
  }
  .MuiBottomNavigationAction-wrapper{
    margin-left: 32%;
    margin-top: 7%;
  }

 
  element.style {
    width: 26%;
    border-radius: 14px;
    background-color: dimgrey;
    margin-left: auto;
  }

  .MuiSvgIcon-root{
    font-size: 21.2px;
    margin-top: 16%;
  }


  .MuiBottomNavigation-root makeStyles-root-1{
    margin-top:4%
  }
  .MuiBottomNavigationAction-wrapper{
    margin-right: 52%;
  }
  .estilos-imagen{
    display: none;
  }
  
 /* .MuiContainer-root{
    width: 107%;
  } */

  #root{
    width: 100%;
  }

  .MuiBottomNavigation-root makeStyles-root-1{
    height:2%;
  } 

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@media (max-width: 424px){
  .muiAutocomplete-root{
    width: 10%;
  }

  .header {
    padding-left: 0px;
    width: 100%;
    padding-right: 40px;
  }

  .MuiBottomNavigationAction-root,
  .MuiBottomNavigationAction-label.Mui-selected {
    padding: -3px 32px 8px;
  }

  .jss1{
    width: 94%!important;
  }

  .ant-carousel{
    width: 71vh;
  }
}


@media (max-width: 600px){
  .MuiContainer-root {
    padding-left: 0px !important; 
    padding-right: 0px !important;
    width: 0px 15px 8px !important;
  }
  

  .MuiBottomNavigationAction-label.Mui-selected{
    font-size:0.65rem!important;
  }

  .jss1{
    width: 70%;
    z-index: 100;
  }

  .title-Header{
    width: 25vh;
  }
}

@media (min-width: 768px){
  body{
  background: #870000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}


@media (max-width: 767px) {
  .MuiAutocomplete-hasPopupIcon{
    width: 36% !important;
  }
}



