* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: #39445a;
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between!important;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  margin: 3%;
}

.MuiBottomNavigationAction-root {
  min-width: 0px!important;
}

MuiButtonBase-root MuiBottomNavigationAction-root{
  flex: 1;
  color: rgba(0, 0, 0, 0.54);
  padding: 2px 15px 8px;
  max-width: 168px;
  /* min-width: 80px; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,padding-top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }

  /* .header{
    /* width: 100%!important;
    display: flex;
    justify-content: space-between!important; */
  
}



@media (max-width: 700px) {

  body{
    background-color: darkred!important;
    width: 100%!important;
  }

  html{
    /* max-width: 108%; */
    background: darkred;
  }

  .MuiBottomNavigationAction-label {
    display: none;
  }


  .MuiBottomNavigationAction-root.Mui-selected{
    padding-top: 8px!important;
  }

  .ant-layout-footer {
     padding: 0px 0px;
  }
 
  .MuiSvgIcon-root {
    font-size: 21.2px;
  }


  .MuiBottomNavigation-root makeStyles-root-1{
    margin-top:4%;
    height: 56px;
    display: flex;
    justify-content: space-between;
  }

  .MuiBottomNavigationAction-wrapper{
    margin-right: 52%;
  }
  .estilos-imagen {
    display: none;
  }

  .MuiBottomNavigation-root makeStyles-root-1 {
    height: 2%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@media (max-width: 424px){
  /* .muiAutocomplete-root{
    width: 10%;
  } */

  .header {
    padding-left: 0px;
    width: 100%;
    padding-right: 20px;
  }

  .MuiBottomNavigationAction-root,
  .MuiBottomNavigationAction-label.Mui-selected {
    padding: -3px 32px 8px;
  }

  .jss1 {
    width: 94% !important;
  }


  .ant-carousel{
    width: 100%;
  }
}


@media (max-width: 600px){
  .MuiContainer-root {
    padding-left: 0px !important; 
    padding-right: 0px !important;
  }
  

  .MuiBottomNavigationAction-label.Mui-selected{
    font-size:0.65rem!important;
  }

  .jss1{
    z-index: 100;
  }

  .title-Header{
    width: 25vh;
  }
}

@media (min-width: 768px) {
  body {
    background: #870000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#190a05,#870000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#190a05,#870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

@media (max-width: 767px) {
  .MuiAutocomplete-hasPopupIcon {
    width: 36% !important;
  }

  .MuiBottomNavigationAction-root {
    min-width: 60px !important;
    justify-content: space-between !important;
  }
}
