/*FONT STYLE*/
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error404-container {
  height: 100vh;
  text-decoration-color: white;
}

.ant-result-title,
.ant-result-subtitle {
  color: rgb(226, 209, 209) !important;
}
