.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(45 41 51);
    /* margin-top: 50px; */
    padding: 15px 0;
    bottom:0;
    width:100%;
    position: relative;
 }

.texto{
    margin: 0;
    color: white;
    font-size: 15px;
}